.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}
#logo {
  /* width: 200px; */
  height: 60px;
  /* height: auto; */
}

#navbarSupportedContent {
  font-size: 22px;
  padding-right: 40px;

}
.navbar-nav {
  gap: 30px;

}
.nav-item {
  color: black;
}
/* // */
.loader2 {
  -webkit-perspective: 700px;
  perspective: 700px;
  /* background: red; */
  padding: 10px 20px;
}

.loader2 > span {
  font-size: 60px;
  font-family: "franklin gothic medium", sans-serif;
  display: inline-block;
  animation: flip 2.6s infinite linear;
  transform-origin: 0 70%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}

@keyframes flip {
  35% {
    transform: rotatez(360deg);
  }

  100% {
    transform: rotatez(360deg);
  }
}

.loader2 > span:nth-child(even) {
  color: rgb(84, 167, 51);
}

.loader2 > span:nth-child(2) {
  animation-delay: 0.3s;
  color: rgb(45, 172, 211);
}

.loader2 > span:nth-child(3) {
  animation-delay: 0.6s;
  color: rgb(172, 148, 16);
}

.loader2 > span:nth-child(4) {
  animation-delay: 0.9s;
  color: rgb(204, 24, 129);
}

.loader2 > span:nth-child(5) {
  animation-delay: 1.2s;
  color: rgb(148, 60, 219);
}

.loader2 > span:nth-child(6) {
  animation-delay: 1.5s;
}

.loader2 > span:nth-child(7) {
  animation-delay: 1.8s;
}
.glitch {
  position: relative;
  font-size: 35px;
  font-weight: 700;
  padding: 15px 0px 0px 40px;
  line-height: 1.2;
  color: rgb(10, 0, 0);
  letter-spacing: 5px;
  z-index: 1;
  animation: shift 1s ease-in-out infinite alternate;
}

.glitch:before,
.glitch:after {
  display: block;
  content: attr(data-glitch);
  position: absolute;
  padding: 15px 0px 0px 40px;

  top: 0;
  left: 0;
  opacity: 0.8;
}

.glitch:before {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
  color: #8b00ff;
  z-index: -1;
}

.glitch:after {
  animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
    infinite;
  color: #00e571;
  z-index: -2;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-3px, 3px);
  }

  40% {
    transform: translate(-3px, -3px);
  }

  60% {
    transform: translate(3px, 3px);
  }

  80% {
    transform: translate(3px, -3px);
  }

  to {
    transform: translate(0);
  }
}

@keyframes shift {
  0%,
  40%,
  44%,
  58%,
  61%,
  65%,
  69%,
  73%,
  100% {
    transform: skewX(0deg);
  }

  41% {
    transform: skewX(10deg);
  }

  42% {
    transform: skewX(-10deg);
  }

  59% {
    transform: skewX(40deg) skewY(10deg);
  }

  60% {
    transform: skewX(-40deg) skewY(-10deg);
  }

  63% {
    transform: skewX(10deg) skewY(-5deg);
  }

  70% {
    transform: skewX(-50deg) skewY(-20deg);
  }

  71% {
    transform: skewX(10deg) skewY(-10deg);
  }
}

@media (max-width: 900px) {
  .navbar-nav {
    gap: 15px;
    padding: 20px;
  }
}
